/* slideLeft */
[ui-view] {
  transition-timing-function: ease;
  transition-duration: 250ms; }

[ui-view].ng-enter {
  transition-property: none;
  transform: translate3d(100%, 0, 0); }

[ui-view].ng-enter.ng-enter-active {
  transition-property: all;
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave {
  transition-property: all;
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave.ng-leave-active {
  transition-property: all;
  transform: translate3d(-100%, 0, 0); }

/* crossFade */
[ui-view].ng-enter {
  transition-duration: 100ms;
  opacity: 0; }

[ui-view].ng-enter.ng-enter-active {
  opacity: 1; }

[ui-view].ng-leave {
  transition-duration: 100ms;
  opacity: 1; }

[ui-view].ng-leave.ng-leave-active {
  opacity: 0; }
