 <h2>.dn-fade-up</h2>
      <button ng-click="dn_fade_up=!dn_fade_up">Toggle Class</button>

<div ng-repeat="page in currentPage" class="element"> 
 <div class="element" ng-class="{'dn-fade-up':dn_fade_up}">
    <h2 ng-bind-html="page.title"></h2>
    <p ng-bind-html="page.field_content"></p>
 </div>
</div>

<div>{{index + 1}} | {{pageCount}}<br>
    <button ng-if="index > 0" ng-click="turnpage(-1)">Previous</button>
    <button  ng-if="index < (pageCount -1)"  ng-click="turnpage(1)">Next</button>
</div>

<div ng-init="on=true">
  <button ng-click="on=!on">Toggle On/Off</button>
  <div class="my-special-animation" ng-if="on">
    This content will enter and leave
  </div>
</div>